body {
  color: white;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: white;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #557a95;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #7395ae;
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #a0a3a6;
  line-height: 2;
}

hr {
  border: dotted #bdd5e7 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #bdd5e7;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.line {
  width: 75%;
}

.top-container {
  background-color: #557a95;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #5d5c61;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.intro {
  width: 30%;
  margin: auto;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-chart {
  position: absolute;
  right: 300px;
  top: 40px;
  width: 8%;
}

.bottom-chart {
  position: absolute;
  left: 250px;
  bottom: 300px;
  width: 8%;
}

.code-img {
  width: 12%;
  float: left;
  margin-right: 30px;
  margin-top: 20px;
}

.profile {
  width: 15%;
  border-radius: 50%;
  transform: rotate(3deg);
}

.improvement-img {
  width: 15%;
  float: right;
  margin-left: 30px;
  margin-top: 20px;
}

.btn {
  background: #7395ae;
  background-image: -webkit-linear-gradient(top, #7395ae, #bdd5e7);
  background-image: -moz-linear-gradient(top, #7395ae, #bdd5e7);
  background-image: -ms-linear-gradient(top, #7395ae, #bdd5e7);
  background-image: -o-linear-gradient(top, #7395ae, #bdd5e7);
  background-image: linear-gradient(to bottom, #7395ae, #bdd5e7);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #7395ae;
  background-image: -webkit-linear-gradient(top, #bdd5e7, #6288a4);
  background-image: -moz-linear-gradient(top, #bdd5e7, #6288a4);
  background-image: -ms-linear-gradient(top, #bdd5e7, #6288a4);
  background-image: -o-linear-gradient(top, #bdd5e7, #6288a4);
  background-image: linear-gradient(to bottom, #bdd5e7, #6288a4);
  text-decoration: none;
}

.top-text {
  color: white;
}
